{% extends 'logsapp/layout.html' %}

{% block content %}
    <br>
    {% if user.is_authenticated %}
        <div class="col-md-4 text-center">
            <h3>欢迎 <b>{{ user.username }}</b></h3>
            <br>
            <h3>提交订单</h3>
            <a class="btn btn-primary" type="button" href="deliveryform">点击填写</a>
            <br><br>
            <h3>所有订单</h3>
            <a class="btn btn-primary" type="button" href="orders">显示订单</a>
        </div>
    {% else %}
        <h2>登录查看: <a href="{% url 'login' %}">登录</a></h2>
    {% endif %}
{% endblock %}